.banner{
    min-height: 90.8vh;
    width: 100%;
    background-color: rgb(234, 250, 241);
}

.banner__container{
    height: 100%;
}

.banner__content-img{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

